PORT=3002
RUST_LOG=info
ROOM_IDLE_TIMEOUT_SECONDS=3600

# MONGODB_URI=    # Optional: If using Atlas, you can comment out mongodb dependency
DB_NAME=tracker-db
JWT_SECRET=khunphaen_secret_change_me_in_production
INITIAL_SETUP_TOKEN=your_secure_setup_token_here

# Storage Connection (RustFS)
STORAGE_URL="http://127.0.0.1:9000"
RUSTFS_ACCESS_KEY="rustfsadmin"
RUSTFS_SECRET_KEY="rustfsadmin"
STORAGE_BUCKET="khunphaen-assets"